extends layout

block content
  p navbar up here
  h1= R/Funny
  p Today's topic is: some top link

  div#messages

  form#messageForm
    textarea(rows="4", cols="50", placeholder="What do you think?", maxlength=200)#outgoingMessage
    input(type="button", value="Submit", style="width: 100px; height: 100px;")#send
