extends layout

block content
  section#rooms
    .container#container-rows
        .row
          .col-lg-12.text-center
            h2 ChatRooms
            hr
    //
       About Section
    section#profile.success
      .container
        .row
          if !user
            .col-lg-12.text-center
              h2 This could be you!
              hr
              img.img-responsive.img-centered(src='/images/profile.png', alt='')
            .row
              .col-lg-4.col-lg-offset-2
                p
                  | With your karma
              .col-lg-4
                p
                  | And your conversations
          else
            .col-lg-12.text-center
              h2= user.name
              hr
              img.img-responsive.img-centered(src='#{user.image}', alt='')
            .row
              .col-lg-12.col-lg-offset-2
                p
                  form(name="uploader", action="/fileupload", method="post", enctype="multipart/form-data")
                    input(type="file", name="file", id="file")
                    input(type="submit", value="Upload")
              .col-lg-4.col-lg-offset-2
                p
                  | Karma the User has
              .col-lg-4
                p
                  | How many conversations Joined,
    section#contact
      .container
        .row
          .col-lg-12.text-center
            h2 Past/Current Rooms
            hr
        .row
          .col-lg-12.text-centered.col-lg-offset-1
            .add-your-more.text-centered
              .col-sm-3.room-list-listing.add-room
                a(href="/rooms/" class="btn btn-primary btn-large") Add Room
              .col-sm-3.room-list-listing
                a(href="/rooms/user-rooms" class="btn btn-primary btn-large") Your Rooms
              .col-sm-3.room-list-listing
                a(href="/rooms" class="btn btn-primary btn-large") More Rooms
        .row
          .col-lg-10.col-lg-offset-1
            .past-rooms
              each room in rooms
                .col-sm-2.room-list-listing
                  a(href="/rooms/#{room}" class="btn btn-primary btn-large") #{_.str.truncate(room,8)}

    //
       Footer
    footer.text-center
      .footer-above
        .container
          .row
            .footer-col.col-md-4
              h3 Location
              p
                | Toronto Ontario
                br
                | Canada
            .footer-col.col-md-4
              h3 Around the Web
              ul.list-inline
                li
                  a.btn-social.btn-outline(href='/contact')
                    i.fa.fa-fw.fa-facebook
                li
                  a.btn-social.btn-outline(href='/contact')
                    i.fa.fa-fw.fa-google-plus
                li
                  a.btn-social.btn-outline(href='/contact')
                    i.fa.fa-fw.fa-twitter
                li
                  a.btn-social.btn-outline(href='/contact')
                    i.fa.fa-fw.fa-linkedin
                li
                  a.btn-social.btn-outline(href='/contact')
                    i.fa.fa-fw.fa-envelope
            .footer-col.col-md-4
              h3 About RChat
              p
                | Rchat is a free to use, open source Socket.io powerd Chat room.
      .footer-below
        .container
          .row
            .col-lg-12
              | Copyright © RChat 2014
    //
       Scroll to Top Button (Only visible on small and extra-small screen sizes)
    .scroll-top.page-scroll.visible-xs.visble-sm
      a.btn.btn-primary(href='#page-top')
        i.fa.fa-chevron-up
    //
       Portfolio Modals
    #portfolioModal1.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-content
        .close-modal(data-dismiss='modal')
          .lr
            .rl
        .container
          .row
            .col-lg-8.col-lg-offset-2
              .modal-body
                h2 Room Title
                hr
                img.img-responsive.img-centered(src='/images/portfolio/cabin.png', alt='')
                p
                  | Need to describe room description via post data
                p.chat-room-specifics
                ul.list-inline.item-details
                  li
                    | room link:
                    strong
                      a(href='www.google.com') Room link
                button.btn.btn-default.close-btn(type='button', data-dismiss='modal')
                  i.fa.fa-times
                  | Close
    #portfolioModal2.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-content
        .close-modal(data-dismiss='modal')
          .lr
            .rl
        .container
          .row
            .col-lg-8.col-lg-offset-2
              .modal-body
                h2 Room Title
                hr
                img.img-responsive.img-centered(src='/images/portfolio/cake.png', alt='')
                p
                  | Need to describe room description via post data
                p.chat-room-specifics
                ul.list-inline.item-details
                  li
                    | Room Link:
                    strong
                      a(href='www.google.com') Link
                button.btn.btn-default.close-btn(type='button', data-dismiss='modal')
                  i.fa.fa-times
                  | Close
    #portfolioModal3.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-content
        .close-modal(data-dismiss='modal')
          .lr
            .rl
        .container
          .row
            .col-lg-8.col-lg-offset-2
              .modal-body
                h2 Room Title
                hr
                img.img-responsive.img-centered(src='/images/portfolio/circus.png', alt='')
                p
                  | Need to describe room description via post data
                p.chat-room-specifics
                ul.list-inline.item-details
                  li
                    | Room Link:
                    strong
                      a(href='www.google.com') Room Link
                button.btn.btn-default.close-btn(type='button', data-dismiss='modal')
                  i.fa.fa-times
                  | Close
    #portfolioModal4.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-content
        .close-modal(data-dismiss='modal')
          .lr
            .rl
        .container
          .row
            .col-lg-8.col-lg-offset-2
              .modal-body
                h2 Room Title
                hr
                img.img-responsive.img-centered(src='/images/portfolio/game.png', alt='')
                p
                  | Need to describe room description via post data
                p.chat-room-specifics
                ul.list-inline.item-details
                  li
                    | Room Link:
                    strong
                      a(href='www.google.com') Room Link
                button.btn.btn-default.close-btn(type='button', data-dismiss='modal')
                  i.fa.fa-times
                  | Close
    #portfolioModal5.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-content
        .close-modal(data-dismiss='modal')
          .lr
            .rl
        .container
          .row
            .col-lg-8.col-lg-offset-2
              .modal-body
                h2 Room Title
                hr
                img.img-responsive.img-centered(src='/images/portfolio/safe.png', alt='')
                p
                  | Need to describe room description via post data
                p.chat-room-specifics
                ul.list-inline.item-details
                  li
                    | Room Link:
                    strong
                      a(href='www.google.com') Room Link
                button.btn.btn-default.close-btn(type='button', data-dismiss='modal')
                  i.fa.fa-times
                  | Close
    #portfolioModal6.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-content
        .close-modal(data-dismiss='modal')
          .lr
            .rl
        .container
          .row
            .col-lg-8.col-lg-offset-2
              .modal-body
                h2 Room Title
                hr
                img.img-responsive.img-centered(src='/images/portfolio/submarine.png', alt='')
                p
                  | Need to describe room description via post data
                p.chat-room-specifics
                ul.list-inline.item-details
                  li
                    | Room Link:
                    strong
                      a(href='www.google.com') Room Link
                button.btn.btn-default.close-btn(type='button', data-dismiss='modal')
                  i.fa.fa-times
                  | Close




