doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//code.jquery.com/jquery-1.11.0.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/chat.js')
    script(type='text/javascript' src='/bower_components/moment/moment.js')
    script(src='/bower_components/underscore/underscore.js')
  body
    //- form(action='/auth/reddit', method='get')
    //-   input(type='text', name='username')
    //-   input(type='password', name='password')
    //-   input(type='submit', class='btn', value='Submit')
    p #{onlineNow}
    if user
      a(href='/logout') Logout #{user.name}
    else
      a(href="/auth/reddit") Login with Reddit
    block content