doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap-theme.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
    //- link(rel='stylesheet', href='/bower_components/foundation/css/foundation.css')
    script(src='//code.jquery.com/jquery-1.11.0.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/chat.js')
    script(type='text/javascript' src='/bower_components/moment/moment.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
    //- script(src='/bower_components/foundation/js/foundation.js')
    script(src='/bower_components/underscore/underscore.js')
  body
    //- form(action='/auth/reddit', method='get')
    //-   input(type='text', name='username')
    //-   input(type='password', name='password')
    //-   input(type='submit', class='btn', value='Submit')
    p #{onlineNow}
    if user
      a(href='/logout') Logout #{user.name}
      img(class="smaller" src="#{user.image}")
      form(name="uploader", action="/fileupload", method="post", enctype="multipart/form-data")
        input(type="file", name="file", id="file")
        input(type="submit", value="Upload")
    else
      a(href="/auth/reddit") Login with Reddit
    block content