body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.smaller {
  width: 150px;
  height: 150px;
}

.send-room-page {
  width: 100px;
  height: 75px;
  position: relative;
  bottom: 32px;
}

.message-image,
.message-content {
  display: inline;
  float: left;
}

.user-name {
  margin-top: 7px;
  font-size: 3em;
  margin-bottom: 0;
}

.user-message {
  font-size: 2em;
}

.clear {
  clear: both;
}

.invisible {
  display: none;
}

.chatroom-image {
  width: 150px;
  height: 150px;
}

#rooms,
.portfolio-item {
  background-color: lightblue;
}

.room-list-listing {
  margin: 10px;
}

.room-list-listing a {
  width: 100%;
}