body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.smaller {
  width: 150px;
  height: 150px;
}

.message-image,
.message-content {
  display: inline;
  float: left;
}

.clear {
  clear: both;
}