body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.smaller {
  width: 150px;
  height: 150px;
}

.message-image,
.message-content {
  display: inline;
  float: left;
}

.user-name {
  margin-top: 7px;
  font-size: 3em;
  margin-bottom: 0;
}

.user-message {
  font-size: 2em;
}

.clear {
  clear: both;
}